{% extends "main.html" %}

{% block content %}
{%load static %}
<!-- team  start -->
<div class="team">
    <div class="container">
        <div class="row">
            <div class="heading text-center">
                <h2>Team Members</h2>
                <p class="mb-4">A team member is an individual who belongs to a team and contributes to the team's goals
                    and objectives.</p>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-1.webp' %}" alt="">
                    <h4>Mr.Mike Banding</h4>
                    <p>Manager</p>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-2.webp' %}" alt="">
                    <h4>Ms.Sophia</h4>
                    <p>Designer</p>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-3.webp' %}" alt="">
                    <h4>Mr.Peter Pan</h4>
                    <p>Developer </p>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-4.webp' %}" alt="">
                    <h4>Mr.John Lee</h4>
                    <p>Chairmen </p>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-2-2.jpg' %}" alt="">
                    <h4>Sarah Johnson</h4>
                    <p>Fashion Director</p>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-2-3.jpg' %}" alt="">
                    <h4>John Lee</h4>
                    <p>Buyer </p>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <div class="content-block border">
                    <img src="{% static '/images/team-2-4.jpg' %}" alt="">
                    <h4>Emily Brown</h4>
                    <p>Stylist</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team end -->
{% endblock %}