{% extends "main.html" %}
{% block content %}
{% load static %}

<section class="terms-banner">
    <div class="terms-heading">
        <h1>Terms & Conditions</h1>
    </div>
</section>

<section class="terms-conditons">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><i class="fa-solid fa-arrow-right-long"></i> Terms and Conditions</h2>
                <p>Welcome to our website! The following terms and conditions ("Terms") apply to your use of our website, including any content, functionality, and services offered on or through the website (collectively, the "Services"). By accessing or using the Services, you agree to be bound by these Terms, which form a legal agreement between you and us.</p>   
                <h4>1. Use of Services</h4>
                <p>Our Services are intended for personal, non-commercial use. You may not use our Services for any unlawful purpose or in any way that could damage, disable, overburden, or impair our website or interfere with any other party's use and enjoyment of our Services. You agree to comply with all applicable laws, regulations, and rules when using our Services.</p>
                <h4>2. Ownership of Content</h4>
                <p>All content on our website, including text, graphics, images, logos, and software, is the property of our company and is protected by applicable intellectual property laws. You may not use, copy, modify, or distribute any content from our website without our express written permission.</p>
                <h4>3. User-Generated Content</h4>
                <p>You may have the opportunity to submit user-generated content, such as reviews or comments, through our Services. By submitting user-generated content, you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use, copy, modify, create derivative works based on, distribute, publicly display, publicly perform, and otherwise exploit in any manner such user-generated content in all formats and distribution channels now known or hereafter devised (including in connection with our business and on third-party sites and services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity</p>
                <h4>4. Governing Law and Jurisdiction</h4>
                <p>These Terms will be governed by and construed in accordance with the laws of [insert governing law] without regard to its conflict of law provisions. You agree to submit to the personal jurisdiction of the courts located in [insert jurisdiction] for any legal proceedings arising from or related to your use of our Services.</p>
                <h4>5. Entire Agreement</h4>
                <p>These Terms constitute the entire agreement between you and us with respect to your use of our Services and supersede all</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}