{% extends 'main.html' %}
{% load static %}
{% block title %}
Your Shopping Cart| Checkout
{% endblock %}
{% block content %}
<div class="bg-light text-dark">
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12 order-heading">
                    <h1 class="mt-3 h1">Delivery Address</h1>  
                </div>
            </div>
        </div>
    </div>

    
    <section class="order-form">
        <div class="row ordercreate" id="ordercreate">
            <div class="col-md-6 offset-1">
                <h4 class="page-header">Checkout</h4>
                <form action="{% url 'order_create' %}" method="post" class="form-control mb-4">
                    <div class="row g-3 mt-1">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="first_name" placeholder="First Name"
                                id="First-name" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                                id="last-name" required>
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control" name="email" placeholder="Email" id="email"
                                required>
                        </div>
                        <div class="col-md-6    ">
                            <input type="text" class="form-control" name="postal_code" placeholder="Postal Address"
                                id="inputZip" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="city" placeholder="city" id="inputCity"
                                required>
                        </div>
                        <div class="col-md-12">
                            <textarea name="address" id="" class="w-100 form-control" placeholder="Address" style="resize:none"  cols="num" rows="num"></textarea>
                        </div>
                        <div class="col-md-12 d-flex gap-1 mb-2">
                            <div class="pay_label">Cash On: </div>
                            <div class="input_box"><input type="radio" checked name="pay_method" value="cash_on">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="card-hover">Submit</button>
                        </div>
                    </div>
                </form>
                <!--  -->
                
                <!--  -->
            </div>
            <div class="col-md-4">
                <div class="page-header ">
                    <h4>Your Order</h4>
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                    <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span>Rs. {{ item.total_price }}</span>
                    </li>
                    {% endfor %}
                    
                    <li class="list-group-item active">
                        Total Cost: Rs. 
                        {{ cart.get_total_price }}
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}